---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { allCategories, categoryMeta, GardenCategory } from "@/lib/categories";

export async function getStaticPaths() {
  return allCategories.map((category) => ({
    params: { category },
  }));
}

const category = Astro.params.category as GardenCategory;

if (!allCategories.includes(category)) {
  throw new Error("Catégorie inconnue");
}

const entries = await getCollection(category);

// const groupedByType = entries.reduce(
//   (acc: Record<string, typeof entries>, entry) => {
//     const type = entry.data.type;
//     if (!acc[type]) acc[type] = [];
//     acc[type].push(entry);
//     return acc;
//   },
//   {}
// );

const entriesSorted = entries.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});

const Icon = categoryMeta[category].icon;
---

<Layout title={categoryMeta[category].label}>
  {
    (
      <main class="px-10">
        <section class="flex flex-row items-center gap-4">
          <Icon
            className="w-14 h-14"
            style={{ stroke: `var(--${categoryMeta[category].color})` }}
          />
          <h2 class="text-4xl">{categoryMeta[category].label}</h2>
        </section>
      </main>
    )
  }
</Layout>
