---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/Layout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title={"test"}>
  <div class="space-y-6">
    <section class="space-y-4 text-center p-5">
      <h2 class="text-lg text-gray-600">👋</h2>
      <p>
        Salut ! Moi c'est Max et ce petit blog parle de <span
          class="text-blue-400">guitare</span
        >.
      </p>
    </section>
  </div>
</Layout>
