---
import BottomNav from "@/components/BottomNav.astro";
import type { CategoryCount } from "@/lib/categories";
import type { GardenEntry } from "@/lib/types";

interface Props {
  entries: GardenEntry[];
  categories: CategoryCount[];
}

const { entries, categories } = Astro.props as Props;
const publishedEntries = entries.filter((entry) => !entry.data.draft);
---

<main class="flex-1 pt-24 px-8 xl:px-0 max-w-3xl mx-auto mb-24">
  <slot />
</main>
<div class="h-20">
  <BottomNav categories={categories} entries={publishedEntries} />
</div>
